.shop{
    color: white;
    background-color: black;
    border-radius: 25px;
    width: 100%;
    
}

.line{
    color: red;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
}

.t{
    letter-spacing: 2px;
}

.st{
  
        position: -webkit-sticky; 
        position: sticky;
        top: 0;
      
}

marquee{
    position: relative;
  max-width: 100%;
  overflow-x: hidden;
  z-index: -1;
  animation:  linear infinite;
}

.tes{
    font-size: 3.4vw;
    line-height: 3.4vw;
     color: "black";
     font-family: Arial, Helvetica, sans-serif;
}

.i{
    width: 16vw;
height: 24vw;
}



@media screen and (max-width:768px){
    .tes{
        font-size: 7.5vw;
    line-height: 7.8vw;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    }

    .i{
        height: 70vw;
        width: 48vw;
    }

   
}

